# Supabase Configuration
VITE_SUPABASE_URL=https://xzghqzczdjmujcevcvnz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6Z2hxemN6ZGptdWpjZXZjdm56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4MjQzODAsImV4cCI6MjEwMzQwMDM4MH0.2dcWBOEnlAr0hKIPjD_HklqcffiOqSzcF2KTmY_qLlk

# Meta WhatsApp Cloud API Credentials
# Obtain from developers.facebook.com > Your App > WhatsApp > API Setup
VITE_WHATSAPP_PHONE_NUMBER_ID=1256873630846914
VITE_WHATSAPP_BUSINESS_ACCOUNT_ID=1079644411247236
VITE_WHATSAPP_API_TOKEN=EAAO3nrHudsIBSRKdeyAHTXBviM819bi6BrcrvyViMy5VyriCyAdsXn7MWggVBvKqGsRwQD4h9f9vdhYZCS11WWajbsHV61eZC4dcL1kAFlyQO4L6JDdw63tpT5N7K4fR9qvsiSZCChk0EU3Ntfvp049xA98RoKhByZCN47HgbRM51d5GlCRray9ZCqbLtk1yrCmY7lo9xFuRcbltFpPPPBGXNGGOfgIQ9l2CjfrxfFYxZBZAvpFgTcCK5kJal8cYbqQwfNgSOZB0ZCgYHvSQvBaCZB3mFAPQZDZD
VITE_WHATSAPP_PHONE_NUMBER=+919340214793
VITE_WHATSAPP_WEBHOOK_VERIFY_TOKEN=

# App Environment Configuration
VITE_APP_ENV=development
VITE_APP_URL=http://localhost:5173
